.nav-container__wrapper {
  width: 100%;
  background-color: #ffffffff;
  border-radius: 5px;

  display: flex;
  align-items: center;
  gap: 50px;

  padding-right: 10px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.nav-searchbar__wrapper {
  display: flex;
  width: 20%;
  height: 100%;

  padding: 5px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.nav-searchbar__input {
  width: 100%;
  outline: none;
  border: none;
}

.nav-navigations__wrapper {
  width: 80%;
  height: 100%;
}

.nav-navigations__list {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.nav-navigations__list li {
  cursor: pointer;

  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 13px;

  padding: 10px;
}

.nav-searchbar__icon {
  background-color: white;
  padding: 5px 5px;
}

.active-nav {
  color: #4495c7;
  border: none;
  border-bottom: 2px solid #4495c7;
}

.nav-searchbar-container__wrapper {
  position: absolute;
  top: 107px;
  left: 245px;
  width: 15%;
  height: 150px;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 8px;
  z-index: 3;
}

.search-for-click-text__wrapper {
  cursor: pointer;

  position: absolute;
  bottom: 0;

  background-color: rgba(0, 0, 0, 0.06);
  width: 100%;
}

.search-for-click-text__wrapper p {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 5px;

  font-size: 12px;
  color: #202020;
}

.nav-filtered-search__wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 10px;
  cursor: pointer;

  margin-top: 10px;
  overflow: auto;
}

.nav-search-picture-thumbnail__img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

.nav-search-all-modal__wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 700px;
  height: 600px;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 8px;

  padding: 10px;
  z-index: 6;
}

.nav-search-all-modal-close__btn {
  position: absolute;
  top: 150px;
  left: 550px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 6;
}
