.profile-container__wrapper {
  display: flex;
  gap: 10px;
}

.profile-background-viewall__btn {
  cursor: pointer;
  padding: 5px 10px;
  font-size: 12px;
  color: #eaf2ff;
  background-color: #4495c7;
  border: none;
  border-radius: 5px;
}

.profile-deatils__wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: #ffffffff;

  width: 450px;
  height: 163px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  border-radius: 10px;
  padding: 20px;
}

.profile-details-profilepicture-edit__btn {
  align-self: flex-start;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.profile-details-profilepicture__img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.profile-details-details__wrapper {
  width: 300px;
}
.profile-details-details__wrapper p {
  font-size: 12px;
}

.profile-details-followers__wrapper {
  display: flex;
  gap: 10px;
}

.profile-details-bio__text {
  white-space: pre-wrap;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 0.4);
  margin-top: 10px;
}

.profile-background__wrapper {
  margin-top: 10px;
  width: 450px;
  height: 287px;

  background-color: #ffffffff;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  border-radius: 10px;
  padding: 20px;
}

.profile-background-feature-empty__wrapper {
  margin-top: 60px;
  text-align: center;
}

.profile-background-feature-empty__wrapper p {
  margin-top: 10px;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.4);
}

.profile-background-lists__wrapper {
  display: flex;

  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.profile-background__list {
  margin-top: 10px;
  list-style: none;
  padding: 0;
}

.profile-background__list li {
  font-size: 12px;
  margin-top: 5px;
  color: rgba(0, 0, 0, 0.4);
}

.profile-background-list__li-strong {
  color: rgba(0, 0, 0, 0.4);
}

.profile-background-lists-view__wrapper {
  cursor: pointer;
  display: flex;
  gap: 10px;
  align-items: center;

  padding: 5px;
}

.profile-background-lists-view__wrapper span {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.4);
}

.profile-showreel-lists-container__wrapper {
  margin-top: 15px;
}

.profile-showreel-list__wrapper {
  display: flex;
  gap: 10px;
}

.profile-showreel-title__text {
  font-size: 12px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.4);
}

.profile-showreel-link__wrapper {
  display: flex;
  align-items: center;
  gap: 5px;

  margin-top: 10px;
}

.profile-showreel-link__wrapper a {
  font-size: 12px;
  background-color: #4495c7;
  color: #eaf2ff;

  padding: 5px 10px;
  border-radius: 5px;
}

.profile-cards-container__wrapper {
  display: flex;
  justify-content: space-between;
  gap: 10px;

  width: 1050px;
  height: 163px;
}

.profile-cards__wrapper {
  background-color: #ffffffff;

  width: 400px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  border-radius: 10px;
  padding: 20px;
}

.profile-cards-icon-texts__wrapper {
  display: flex;
  align-items: center;
  gap: 10px;

  margin-top: 10px;
}

.profile-cards-appearance-details__wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.profile-cards-appearance-details__wrapper p {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.4);
}
.profile-cards-appearance-details__wrapper span {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.4);
  font-weight: bold;
}

.profile-reels-container__wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;

  overflow: auto;

  margin-top: 10px;
  width: 1050px;
  height: 585px;

  background-color: #ffffffff;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  border-radius: 10px;
  padding: 20px;
}

.profile-reels-content-thumbnail__wrapper {
  width: 180px;
  height: 180px;
  border-radius: 10px;
}

.profile-reels-thumbnail__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
}

.profile-reels-thumbnail__text {
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3));
  border-radius: 10px;

  cursor: pointer;
  opacity: 0;
  transition: all 0.3s ease;

  position: relative;
  top: -185px;

  color: #eaf2ff;
  font-size: 12px;
  line-height: 1.5;
  padding: 5px;
}
.profile-reels-thumbnail__text:hover {
  opacity: 1;
  transition: all 0.3s ease;
}

.profile-loading-icon__wrapper {
  position: absolute;
  left: 50%;
}

.edit-background-container__wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 900px;
  height: 700px;
  overflow: auto;
  background-color: #ffffffff;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  border-radius: 10px;
  padding: 20px;

  z-index: 2;
}

.edit-background-existing-close__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  cursor: pointer;

  background-color: #4495c7;
  padding: 10px;
  border-radius: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.edit-background-existing-close__wrapper h3 {
  color: #eaf2ff;
}

.edit-background-existing-close__wrapper p {
  color: #eaf2ff;
  font-size: 12px;
}

.edit-background-existing-open__wrapper {
  display: none;
  background-color: #ffffffff;
  height: 300px;
  width: 100%;

  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  border-radius: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  padding: 20px;
}
.add-background-open__wrapper {
  display: none;
  background-color: #ffffffff;
  height: 300px;
  width: 100%;

  border-radius: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  padding: 20px;
}

.slideopen-container {
  display: block;
}

.add-background-container__wrapper {
  cursor: pointer;
  margin-top: 40px;
}

.edit-background-form-delete__wrapper {
  display: flex;
  justify-content: flex-end;
}

.edit-background-form-delete__btn {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.edit-background-form-delete__btn .trash__icon {
  fill: rgba(0, 0, 0, 0.3);
  transition: all 0.5s ease-in-out;
}
.edit-background-form-delete__btn:hover .trash__icon {
  fill: rgba(243, 122, 122, 0.945);
  transition: all 0.5s ease-in-out;
}

.feature-icon__btn {
  z-index: 2;
}
.feature-icon__btn .star-default-icon {
  fill: #eaf2ff;
}

.feature-icon__btn:hover .star-default-icon {
  fill: yellow;
}
