.settings-nav-container__wrapper {
  width: 300px;
  height: 82vh;
  background-color: #ffffffff;

  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

  padding: 20px;
  margin-left: 30px;
}

.settings-nav-ul__wrapper {
  list-style: none;
  margin-top: 20px;
}

.settings-nav-ul__wrapper li {
  cursor: pointer;
  padding: 20px;
  font-size: 12px;
}

.setting-nav-active {
  font-weight: bold;
  color: #4495c7;
}

.sub-ul__wrapper {
  list-style: none;
  margin-left: 20px;
}

.sub-ul__wrapper li {
  font-size: 10px;
}

.settings-display-container__wrapper {
  width: 1100px;
  height: 82vh;
  background-color: #ffffffff;

  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

  padding: 20px;
}

.settings-profile-info__wrapper {
  padding: 10px;
}

.settings-profile-form__wrapper {
  width: 40%;
  padding: 10px;
}

.settings-profile-form-bio__textarea {
  background-color: transparent;
  min-width: 390px;
  max-width: 390px;
  min-height: 30px;
  max-height: 30px;

  resize: none;
  outline: none;
  border: none;
}

.settings-textarea-counter__span {
  font-size: 10px;
}

.settings-profile-updatepicture__btn {
  cursor: pointer;
  background-color: #4495c7;
  border: none;
  border-radius: 5px;

  padding: 2px 10px;
  font-size: 10px;
  font-weight: bold;
  color: #ffffffff;
}

.settings-profile-form-submit__btn {
  cursor: pointer;
  background-color: #4495c7;
  border: none;
  border-radius: 5px;

  padding: 2px 10px;
  font-size: 10px;
  color: #ffffffff;
}

.update__text {
  font-size: 13px;
  color: limegreen;
  font-weight: 400;
}

.settings-profile-form-loading-icon__wrapper {
  position: absolute;
  left: 55%;
}

.account-form__wrapper {
  width: 400px;
  padding: 20px;
}

.account-form__wrapper button {
  cursor: pointer;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: #4495c7;
  color: #ffffffff;
}

.form-appearance__wrapper {
  padding: 10px;
  width: 400px;
}

.form-appearance-submit__btn {
  cursor: pointer;
  padding: 5px 10px;
  background-color: #4495c7;
  color: #ffffffff;
  border: none;
  border-radius: 5px;
}

.btn-disabled {
  cursor: default;
  background-color: gray;
}

.settings-loading-icon__wrapper {
  position: absolute;
  left: 55%;
}

.personal-background-form__wrapper {
  width: 400px;
  padding: 20px;
}

.personal-background-form__btn {
  cursor: pointer;
  padding: 5px 10px;
  background-color: #4495c7;
  color: #ffffffff;
  border: none;
  border-radius: 5px;
}

.password-change__wrapper {
  width: 500px;
  height: 350px;
  padding: 10px;
  border-radius: 5px;
  background-color: #4495c7;
}
