@import url("https://fonts.googleapis.com/css2?family=Mozilla+Text:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  color: #494949;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;

  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.6);
}

.-overflow-auto {
  height: 100%;
  overflow: auto;
}

.-loading-icon__wrapper {
  position: absolute;
  left: 50%;
}

.-btn-confirmation-delete {
  cursor: pointer;
  background-color: rgba(243, 122, 122, 0.945);
  color: #eaf2ff;
  border: none;

  border-radius: 5px;
  padding: 5px 10px;
}

.-btn-dark- {
  background-color: #4495c7;
  color: #eaf2ff;
}

.-btn-invisible {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.fontSize-12 {
  font-size: 12px;
}

.-form-submit__btn {
  cursor: pointer;
  padding: 5px 10px;
  background-color: #4495c7;
  color: #ffffffff;
  border: none;
  border-radius: 5px;
}

.-btn-loading__icon {
  animation: loadingAnimation 1s infinite;
}

@keyframes loadingAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.-form-password-input__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: 15px 0 15px 0;
  text-align: start;
  border: 1px solid #494949;
  border-radius: 5px;
  width: 100%;
  padding: 5px;
}
.-form-input__wrapper {
  margin: 15px 0 15px 0;
  text-align: start;
  border: 1px solid #494949;
  border-radius: 5px;
  width: 100%;
  padding: 5px;
}

.-form-input__wrapper p,
.-form-password-input__wrapper p {
  margin-top: 0;
  font-size: 11px;
  color: rgba(0, 0, 0, 0.4);
}
.-form-input__wrapper input,
.-form-input__wrapper textarea,
.-form-password-input__wrapper input,
.-form-input__wrapper select {
  width: 100%;
  outline: none;
  background-color: transparent;
  border: none;
  resize: none;
}

.-form-half-input__wrapper {
  margin-top: 15px;
  text-align: start;
  border: 1px solid #494949;
  border-radius: 5px;
  width: 50%;
  padding: 5px;
}

.-form-half-input__wrapper p {
  color: rgba(0, 0, 0, 0.4);
  margin-top: 0;
  font-size: 11px;
}
.-form-half-input__wrapper input {
  width: 100%;
  outline: none;
  background-color: transparent;
  border: none;
}

.-input-border-error {
  border: 1px solid red;
}

.-error-form-p {
  color: red;
  font-size: 12px;
  margin-top: 10px;
}

.-password-seeIcon-btn {
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
}

.-main-container__wrapper {
  width: 1550px;
  margin: 0 auto;

  padding: 30px;
}

.-width-50percent {
  width: 50%;
}

.-width-100percent {
  width: 100%;
}

.-gap-10 {
  gap: 10px;
}
.-gap-20 {
  gap: 20px;
}
.-gap-30 {
  gap: 30px;
}
.-gap-40 {
  gap: 40px;
}
.-gap-50 {
  gap: 50px;
}

.-display-flex {
  display: flex;
}

.-display-flex-justified-center {
  display: flex;
  justify-content: center;
}
.-display-flex-justified-spaceevenly {
  display: flex;
  justify-content: space-evenly;
}

.-display-flex-justified-spacebetween {
  display: flex;
  justify-content: space-between;
}

.-display-flex-aligned-center {
  display: flex;
  align-items: center;
}

.-btn-transparent-noborders {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.-margin-top-10 {
  margin-top: 10px;
}
.-margin-top-20 {
  margin-top: 20px;
}
.-margin-top-30 {
  margin-top: 30px;
}
.-margin-top-40 {
  margin-top: 40px;
}
.-margin-top-50 {
  margin-top: 50px;
}

.-margin-left-10 {
  margin-left: 10px;
}
.-margin-left-20 {
  margin-left: 10px;
}
.-margin-left-30 {
  margin-left: 10px;
}
.-margin-left-40 {
  margin-left: 10px;
}
.-margin-left-50 {
  margin-left: 10px;
}

.-margin-top-10 {
  margin-top: 10px;
}
.-margin-top-20 {
  margin-top: 20px;
}
.-margin-top-30 {
  margin-top: 20px;
}
.-margin-top-40 {
  margin-top: 20px;
}
.-margin-top-50 {
  margin-top: 20px;
}

.-padding-10 {
  padding: 10px;
}
.-padding-20 {
  padding: 20px;
}
